$icomoon-font-family: 'ten9-icon' !default;
$icomoon-font-path: 'fonts' !default;

$ten9-icon-decimal-decrease: '\e900';
$ten9-icon-decimal-increase: '\e901';
$ten9-icon-wrap-overflow: '\e902';
$ten9-icon-wrap-clip: '\e903';
$ten9-icon-wrap-wrap: '\e904';
