$icomoon-font-family: "ten9-icon" !default;
$icomoon-font-path: "fonts" !default;

$ten9-icon-clip: "\e90f";
$ten9-icon-vertical-align-middle: "\e90e";
$ten9-icon-merge-cell: "\e90d";
$ten9-icon-decimal-decrease: "\e90c";
$ten9-icon-undo: "\e900";
$ten9-icon-undo1: "\e905";
$ten9-icon-paint-format: "\e906";
$ten9-icon-fill-color: "\e907";
$ten9-icon-text-color: "\e908";
$ten9-icon-insert-comment: "\e909";
$ten9-icon-icon-chart: "\e90a";
$ten9-icon-auto-filter: "\e90b";
$ten9-icon-decimal-increase: "\e901";
$ten9-icon-wrap-overflow: "\e902";
$ten9-icon-wrap-clip: "\e903";
$ten9-icon-wrap-wrap: "\e904";

