.grid-panel {
  display: flex;
  align-items: center;
  .unit-input-container {
    width: auto;
    right: 48px;
    top: 3px;
  }
}

.diagram-format-panel {
  .diagram-view-panel {
    padding-right: 18px;
    & > div {
      display: flex;
      align-items: center;
      height: 30px;
    }
  }

  .diagram-style-panel {
    padding-right: 0;
  }
}

.background-panel {
  .background-panel__button {
    position: absolute;
    height: 22px;
    right: 52px;
    width: 56px;
  }
}