.dropdown-arrow {
  display: inline-block;
  padding: 6px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 0px;
  right: 0;
  border-left: 1px solid #a0a0a0;
  opacity: 0.7;

  img {
    position: relative;
    top: -2px;
  }
}

.panelContainer {
  padding: 12px 18px;
}
