.btn-grey {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.txt-input {
  border: 1px solid #ddd;
  padding: 5px 10px;

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.style {
  overflow: auto;
  font-family: monospace;
  resize: none;
  width: 100%;
  height: 250px;
  font-size: 14px;
}

.radio-btn {
  margin-top: 10px;
}

.w-90 {
  width: 90% !important;
}

.w-70 {
  width: 70% !important;
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}
