.btn-grey {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.txt-input {
  border: 1px solid #ddd;
  padding: 5px 10px;

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.style {
  overflow: auto;
  font-family: monospace;
  resize: none;
  width: 100%;
  height: 250px;
  font-size: 14px;
}

.radio-btn {
  margin-top: 10px;
}

.w-90 {
  width: 90% !important;
}

.w-70 {
  width: 70% !important;
}

.w-20 {
  width: 20% !important;
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}

.pointer:hover {
  cursor: pointer;
}

.shape-modal-content {
  overflow-y: auto !important;
  height: 550px !important;
}

.bg-lightgray {
  background: lightgray;
}

.shape-modal-content::-webkit-scrollbar {
  width: 12px;
}

.shape-modal-content::-webkit-scrollbar-track {
  background: white;
}

.shape-modal-content::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  border: 3px solid white;
}

.right-border {
  border-right: 1px solid darkgray;
}

.bg-light-blue {
  background: lightblue;
}

.heading {
  width: 100%;
  padding: 6px 5px;
}

.full-width {
  width: 100%;
}

.bottom-border {
  border-bottom: 1px solid lightgray;
}

.fa {
  cursor: pointer;
}

.b-txt-input {
  width: 90% !important;
}

.shape {
  display: inline-block;
  position: relative;
  transition: transform 0.1s ease-in-out 0s;
  margin-bottom: 30px;
}
